html {
    background-color: rgb(65, 65, 65);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weekContainer {
    display: flex;
}

.day {
    background-color: rgb(95, 104, 105);
    min-width: 50px;
    min-height: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.busy {
    background-color: rgb(209, 0, 0);
}

.notSure {
    background-color: rgb(196, 127, 0);
}

.doNotDisturb {
    background-color: none;
}

.free {
    background-color: green;
}

.monthHeader {
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.planning {
    margin: 0;
    border: 3px solid white;
    border-radius: 15px;
}

.monthSummaryOn {
    background-color: rgba(95, 104, 105, 0);
}

.monthSummaryContainer p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    margin-left: 15px;
    padding: 5px;
    word-wrap: break-word;
    max-width: 350px;
}