html {
    background-color: rgb(65, 65, 65);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weekContainer {
    display: flex;
}

.day {
    background-color: rgb(95, 104, 105);
    min-width: 50px;
    min-height: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.busy {
    background-color: rgb(209, 0, 0);
}

.free {
    background-color: green;
}

.monthHeader {
    margin:auto;
    text-align: center;
    color: white;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.planning {
    margin: 0;
    border: 3px solid white;
    border-radius: 15px;
}